<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8" style="background-color: #f7f7f9;border-radius: 5px;box-shadow: 10px 5px 5px #888888;">
<h3 class="text-center">
    Weighting Factors
    <br>
</h3>
<table class="table table-bordered">
<tbody>
<tr>
    <td>
        <b>
            Measurement Parameter
        </b>
        <br>
    </td>
    <td class="text-center">
        <b>
            Count
        </b>
    </td>
    <td class="text-center">
        <b>
            Simple
        </b>
    </td>
    <td class="text-center">
        <b>
            Average
        </b>
    </td>
    <td class="text-center">
        <b>
            Complex
        </b>
    </td>
    <td class="text-center">
        <b>
            Total
        </b>
    </td>
</tr>
<tr>
    <td>
        Number of User Inputs
        <br>
    </td>
    <td>
        <input class="input-sm" required pattern="[0-9]{1,}" ng-model="input.numInput" type="text">
        x
        <br>
    </td>
    <td>
        <label class="radio">
            <input name="inputWeight" required ng-model="input.inputWeight" value="3" type="radio">
            3
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="inputWeight" required ng-model="input.inputWeight" value="4" type="radio">
            4
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="inputWeight" required ng-model="input.inputWeight" value="6" type="radio">
            6
        </label>
    </td>
    <td>
        {{totalInput=input.inputWeight*input.numInput}}
    </td>
</tr>
<tr>
    <td>
        Number Of User Outputs
        <br>
    </td>
    <td>
        <input class="input-sm" required pattern="[0-9]{1,}" ng-model="input.numOutput" type="text">
        x
    </td>
    <td>
        <label class="radio">
            <input name="outputWeight" required ng-model="input.outputWeight" value="4" type="radio">
            4
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="outputWeight" required ng-model="input.outputWeight" value="5" type="radio">
            5
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="outputWeight" required ng-model="input.outputWeight" value="7" type="radio">
            7
        </label>
    </td>
    <td>
        {{totalOutput=input.outputWeight*input.numOutput}}
    </td>
</tr>
<tr>
    <td>
        Number of User Inquiries
        <br>
    </td>
    <td>
        <input class="input-sm" required pattern="[0-9]{1,}" ng-model="input.numInquriries" type="text">
        x
    </td>
    <td>
        <label class="radio">
            <input name="inquiriestWeight" required ng-model="input.inquiriestWeight" value="3" type="radio">
            3
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="inquiriestWeight" required ng-model="input.inquiriestWeight" value="4" type="radio">
            4
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="inquiriestWeight" required ng-model="input.inquiriestWeight" value="6" type="radio">
            6
        </label>
    </td>
    <td>
        {{totalInquiry=input.inquiriestWeight*input.numInquriries}}
    </td>
</tr>
<tr>
    <td>
        Number of Files
        <br>
    </td>
    <td>
        <input class="input-sm" required pattern="[0-9]{1,}" ng-model="input.numFile" type="text">
        x
    </td>
    <td>
        <label class="radio">
            <input name="filesWeight" required ng-model="input.filesWeight" value="7" type="radio">
            7
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="filesWeight" required ng-model="input.filesWeight" value="10" type="radio">
            10
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="filesWeight" required ng-model="input.filesWeight" value="15" type="radio">
            15
        </label>
    </td>
    <td>
        {{totalFile=input.filesWeight*input.numFile}}
    </td>
</tr>
<tr>
    <td>
        Number of External Interfaces
        <br>
    </td>
    <td>
        <input class="input-sm" required pattern="[0-9]{1,}" ng-model="input.numInterfaces" type="text">
        x
    </td>
    <td>
        <label class="radio">
            <input name="interfaceWeight" required ng-model="input.interfaceWeight" value="5" type="radio">
            5
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="interfaceWeight" required ng-model="input.interfaceWeight" value="7" type="radio">
            7
        </label>
    </td>
    <td>
        <label class="radio">
            <input name="interfaceWeight" required ng-model="input.interfaceWeight" value="10" type="radio">
            10
        </label>
    </td>
    <td>
        {{totalInterfaces=input.interfaceWeight*input.numInterfaces}}
    </td>
</tr>
<tr>
    <td>
        Total
    </td>
    <td>
        {{ TotalWeightFactors = totalFile + totalInterfaces + totalInquiry + totalOutput
        + totalInput}}
    </td>
</tr>
</tbody>
</table>
</div>
<div class="col-md-2">
</div>
</div>


<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8"
     style="background-color: #f7f7f9;border-radius: 5px;box-shadow: 10px 5px 5px #888888; margin-top:30px">
<h3 class="text-center">
    Complexity Weight Factors
    <br>
</h3>

<table>
    <tbody>
    <tr>
        <td>
            <label>
                F1. Does the system require reliable backup and recovery?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f1" max="5" type="range">
            {{ f1 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F2. Are data communications required?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f2" max="5" type="range">
            {{ f2 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F3. Are there distributed processing functions?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f3" max="5" type="range">
            {{ f3 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F4. Is performance critical?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f4" max="5" type="range">
            {{ f4 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F5. Will the system run in a existing, heavily utilized operational environment?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f5" max="5" type="range">
            {{ f5 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F6. Does the system require on-line data entry?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f6" max="5" type="range">
            {{ f6 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F7. Does the on-line data entry require the input transaction to be built
                over multiple screens or operations?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f7" max="5" type="range">
            {{ f7 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F8. Are the master files updated on-line?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f8" max="5" type="range">
            {{ f8 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F9. Are the inputs, outputs, files or inquiries complex?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f9" max="5" type="range">
            {{ f9 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F10. Is the internal processing complex?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f10" max="5" type="range">
            {{ f10 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F11. Is the code designed to be reusable?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f11" max="5" type="range">
            {{ f11 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F12. Are conversion and installation included in the design?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f12" max="5" type="range">
            {{ f12 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F13. Is the system designed for multiple installations in different organizations?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f13" max="5" type="range">
            {{ f13 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                F14. Is the application designed to facilitate change and ease of use
                by the user?
            </label>
        </td>
        <td>
            <input min="0" ng-model="input.f14" max="5" type="range">
            {{ f14 }}
        </td>
    </tr>
    <tr>
        <td>
            <label>
                TOTAL Function points :
            </label>
        </td>
        <td>
            <input id="fp" ng-model="result.fp" type="text" readonly>

            <p>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<div class="form-group">
    <button class="btn btn-info" ng-click="calComplex()">
        Calculate Function Points
    </button>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-right">
            <span class="label label-info">Language</span>
            <select ng-model="input.language" ng-selected="calSloc()" name="language">
                <option value="128">
                    C
                </option>
                <option value="55">
                    C++
                </option>
                <option value="53">
                    Java
                </option>
                <option value="20">
                    Fourth Generation Language
                </option>
                <option value="29">
                    Visual Basic 5.0
                </option>
                <option value="4">
                    Fifth Generation Language
                </option>
                <option value="320">
                    Assembly - Basic
                </option>
                <option value="91">
                    Cobo
                </option>
            </select>
        </div>
        <div class="col-md-4">

            <span class="label label-default label-info">SLOC</span>
            <input ng-model="result.sloc" name="sloc" type="text">
        </div>
    </div>
</div>
<div class="form-group">
</div>
<div class="form-group">
</div>
</div>
<div class="col-md-2">
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8"
     style="background-color: #f7f7f9;border-radius: 5px;box-shadow: 10px 5px 5px #888888; margin-top: 30px">

<h2 class="text-center"> Effort Adjustment Factor </h2>
<h4>Product Attributes</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td><label>Required Software reliability</label></td>
        <td>
            <select name="reliability" ng-model="input.reliability">
                <option value="0.5">Very Low</option>
                <option value="0.88">Low</option>
                <option value="1">Norminal</option>
                <option value="1.15">High</option>
                <option value="1.4">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Size of application database</label></td>
        <td>
            <select name="sizeData" ng-model="input.sizeData">
                <option value="0.94">Low</option>
                <option value="1">Norminal</option>
                <option value="1.08">High</option>
                <option value="1.16">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 500px"><label>Complexity of the product</label></td>
        <td>
            <select name="complex" ng-model="input.complex">
                <option value="0.7">Very Low</option>

                <option value="0.85">Low</option>
                <option value="1">Norminal</option>
                <option value="1.15">High</option>
                <option value="1.3">Very High</option>
                <option value="1.65">Extra High</option>

            </select>
        </td>
    </tr>
    </tbody>
</table>
<h4>Hardware attributes</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td><label>Run-time performance constraints</label></td>
        <td>
            <select name="performance" ng-model="input.performance">

                <option value="1">Norminal</option>
                <option value="1.11">High</option>
                <option value="1.3">Very High</option>
                <option value="1.66">Extra High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Memory constraints</label></td>
        <td>
            <select name="memory" ng-model="input.memory">
                <option value="1">Norminal</option>
                <option value="1.06">High</option>
                <option value="1.21">Very High</option>
                <option value="1.56">Extra High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Volatility of the virtual machine environment</label></td>
        <td>
            <select name="environment" ng-model="input.environment">

                <option value="0.87">Low</option>
                <option value="1">Norminal</option>
                <option value="1.15">High</option>
                <option value="1.3">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 500px"><label>Required turnabout time</label></td>
        <td>
            <select name="times" ng-model="input.times">

                <option value="0.87">Low</option>
                <option value="1">Norminal</option>
                <option value="1.07">High</option>
                <option value="1.15">Very High</option>

            </select>
        </td>
    </tr>
    </tbody>
</table>
<h4>Personnel attributess</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td><label>Analyst capability</label></td>
        <td>
            <select name="analyst" ng-model="input.analyst">
                <option value="1.46">Very Low</option>
                <option value="1.19">Low</option>
                <option value="1">Norminal</option>
                <option value="0.86">High</option>
                <option value="0.71">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Applications experience</label></td>
        <td>
            <select name="applicationExp" ng-model="input.applicationExp">
                <option value="1.29">Very Low</option>
                <option value="1.13">Low</option>
                <option value="1">Norminal</option>
                <option value="0.91">High</option>
                <option value="0.82">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Software engineer capability</label></td>
        <td>
            <select name="capability" ng-model="input.capability">
                <option value="1.42">Very Low</option>
                <option value="1.17">Low</option>
                <option value="1">Norminal</option>
                <option value="0.86">High</option>
                <option value="0.7">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Virtual machine experience</label></td>
        <td>
            <select name="virtualMExperience" ng-model="input.virtualMExperience">
                <option value="1.21">Very Low</option>
                <option value="1.1">Low</option>
                <option value="1">Norminal</option>
                <option value="0.9">High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 500px"><label>Programming language experience</label></td>
        <td>
            <select name="programExp" ng-model="input.programExp">
                <option value="1.14">Very Low</option>
                <option value="1.07">Low</option>
                <option value="1">Norminal</option>
                <option value="0.95">High</option>

            </select>
        </td>
    </tr>
    </tbody>
</table>

<h4>Project attributes</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td><label>Application of software engineering methods</label></td>
        <td>
            <select name="enMethod" ng-model="input.enMethod">
                <option value="1.24">Very Low</option>
                <option value="1.1">Low</option>
                <option value="1">Norminal</option>
                <option value="0.91">High</option>
                <option value="0.82">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td><label>Use of software tools</label></td>
        <td>
            <select name="useSoftware" ng-model="input.useSoftware">
                <option value="1.24">Very Low</option>
                <option value="1.1">Low</option>
                <option value="1">Norminal</option>
                <option value="0.91">High</option>
                <option value="0.83">Very High</option>

            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 500px"><label>Required development schedule</label></td>
        <td>
            <select name="reqDevSchedle" ng-model="input.reqDevSchedle">
                <option value="1.23">Very Low</option>
                <option value="1.08">Low</option>
                <option value="1">Norminal</option>
                <option value="1.04">High</option>
                <option value="1.1">Very High</option>

            </select>
        </td>
    </tr>

    </tbody>
</table>
<p class="hidden">{{ input.reliability * input.sizeData * input.complex*input.performance*input.memory*input.environment
    * input.time*input.analyst*input.applicationExp*input.capability*input.virtualMExperience*input.programExp *
    input.enMethod*input.useSoftware*input.reqDevSchedle*input.virtualMExperience*input.programExp}}</p>

</div>
<div class="col-md-2">
</div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8"
         style="background-color: #f7f7f9;border-radius: 5px;box-shadow: 10px 5px 5px #888888; margin-top: 30px">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Software Project</td>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>

            </tr>
            <tr>
                <td>Organic</td>
                <td>3.2</td>
                <td>1.05</td>
                <td>2.5</td>
                <td>0.38</td>
                <td><input type="radio" ng-model="input.project" required value="1"
                           ng-selected="softwareproject(input.project)" name="project"/></td>
            </tr>
            <tr>
                <td>Semi-detached</td>
                <td>3.0</td>
                <td>1.12</td>
                <td>2.5</td>
                <td>0.35</td>
                <td><input type="radio" ng-model="input.project" required value="2"
                           ng-selected="softwareproject(input.project)" name="project"/></td>

            </tr>
            <tr>
                <td>Embedded</td>
                <td>2.8</td>
                <td>1.20</td>
                <td>2.5</td>
                <td>0.32</td>
                <td><input type="radio" ng-model="input.project" required value="3"
                           ng-selected="softwareproject(input.project)" name="project"/></td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8"
         style="background-color: #f7f7f9;border-radius: 5px;box-shadow: 10px 5px 5px #888888; margin-top: 30px">


        <div class="form-group">
            <label class="col-md-4 control-label" for="">Average Salary:</label>

            <div class="col-md-4">
                <input type="text" required pattern="[0-9]{1,}" ng-model="input.salary" class="input input-sm"/>
            </div>


        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="row" style="margin-top: 30px">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 alert alert-info">
        <h1 class="text-center">Estimation</h1>

        <ul>
            <li><p>Lines of Code : {{ result.sloc | number:0 }} lines</p></li>
            <li><p>Effort : {{ result.effort | number:0 }} Persons per month</p></li>
            <li><p>Duration:{{ result.duration | number:0 }} months</p></li>
            <li><p>Cost: {{ result.cost = result.effort * input.salary | currency}} </p></li>
            <li><p>Page of Documentation:{{ result.docs = result.sloc/24 | number:0}} pages </p></li>
            <li><p>Errors:{{ result.error = result.sloc/84 | number:0}} errors </p></li>
            <li><p>Number Of People:{{ result.people = result.effort / result.duration | number:0}} people </p></li>


        </ul>


    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 form-horizontal" style="margin-top: 30px">


        <div class="form-group">
            <label class="col-md-4 control-label" for="">Project Name</label>

            <div class="col-md-4">
                <input type="text" ng-model="input.ProjectName" class="input input-sm"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>

            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary" ng-show="saveBtn" ng-click="save()">Save As a New
                    Project
                </button>
                <button id="update" name="update" class="btn info" ng-show="UpdateBtn" ng-click="update()">Update</button>

            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

