<div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
        <a href="#" class="list-group-item active">Introduction</a>
        <a href="#" class="list-group-item">Function Points</a>
        <a href="#" class="list-group-item">Complexity Weight Factors</a>
        <a href="#" class="list-group-item">SLOC</a>
        <a href="#" class="list-group-item">Effort Adjustment Factor</a>
        <a href="#" class="list-group-item">Cost</a>
        <a href="#" class="list-group-item">Estimation Results</a>
    </div>
</div>

<div class="col-sm-9">
    <h2>Function Points</h2>
    <hr/>
    <p>In order to begin computing we need to calculate Function Points. Estimator utilizes Weight Factors, Complexity
        Factors and Language to compute Function Points.</p>
    <ol>
        <li>Calculate weight factors by filling in the measurement parameters in red square as shown in Figure 1. After,
            select the complexity level for each parameter in the green square.
        </li>
    </ol>
    <img src="/app/img/figure1.jpg" alt="figure 1">

    <h2>Complexity Weight Factors</h2>
    <hr/>
    <ol>
        <li>To complete this section use sliders in the red square to adjust Complexity Factors as shown in Figure 2.
            Then click the Calculate Function Points button in the green square. Make sure this button is clicked.
        </li>
    </ol>
    <img src="/app/img/figure2.jpg" alt="figure 2">

    <h2>SLOC</h2>
    <hr/>
    <p>To compute SLOC or Source Line of Code, select a language from the drop down option as shown in Figure 3. Note
        program utilizes the result from the previous “Function Point” to compute SLOC. Make sure you have completed
        steps above before proceeding to compute SLOC.</p>
    <img src="/app/img/figure3.jpg" alt="figure 3">

    <h2>Effort Adjustment Factor</h2>
    <hr/>
    <ol>
        <li>Determine cost driver factors to compute EAF or Effort Adjustment Factors. As shown in Figure 4, each of the
            attributes receives a rating on a six-point scale that ranges from "very low" to "extra high" (in importance
            or value). Set these ratings by using the drop down option in the red square, Figure 4. Typical values for
            EAF range from 0.9 to 1.4.
            <img src="/app/img/figure4.jpg" alt="figure 4">
        </li>
        <li>After defining cost drivers, we can compute EAF by defining complexity of the software project. The program
            uses COCOMO algorithms for estimating EAF. Project complexity various depending on development team, so
            there are three classes of software projects you can chose from (for more information
            http://en.wikipedia.org/wiki/COCOMO). Select a software project by clicking on its radio button as shown in
            Figure 5.
            <img src="/app/img/figure5.jpg" alt="figure 5">
        </li>
    </ol>

    <h2>Cost</h2>
    <hr/>
    <p>To calculate the cost of the project enter amount of salary. Salary amount should be person per month. Salary
        must be entered in the box below, see Figure 6.</p>
    <img src="/app/img/figure6.jpg" alt="figure 6">

    <h2>Estimation Results</h2>
    <hr/>
    <p>After program have finshed computing it will display the result at the buttom of the page. You can save the
        results for later use. An output example by the program is shown in Figure 7.</p>
    <img src="/app/img/figure7.jpg" alt="figure 7">
</div>