<div class="text-center">
    <h1>BLUENIX - Project Estimator</h1>

    <p>Contact Info :</p>

    <p>BLUENIX - Tess & Associates</p>

    <p>Email : <a href="mailto:bluenix@tess.ca">bluenix@tess.ca</a></p>
</div>