<h1 class="text-center"> Projects </h1>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <table class="table table-bordered">
            <thead>
            <th>Project name</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects">
                <td>{{ project.ProjectName }}</td>
                <td>
                    <a class="btn btn-success" ng-click="changeView( project,'estimator',1,1  )">Load</a>
                    <a class="btn btn-info" ng-click="generatePDF(project)">PDF Download</a>
                    <a class="btn btn-danger" ng-click="delete(project)">Delete</a>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
    </div>

</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form class="form-horizontal" action="" method="POST">
            <fieldset>

                <!-- Form Name -->
                <legend class="text-center">Import Project</legend>

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="file">Select csv file</label>

                    <div class="col-md-4">
                        <input id="file" type="file" multiple="">
                        <button id="submit" type="submit">Import</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    <div class="col-md-2">
    </div>

</div>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">

        <table style="display: none" class="table table-bordered">
            <thead>
            <tr>
                <td><b>Project Name</b></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in imports">
                <td>{{ project.ProjectName }}</td>
                <td>
                    <a class="btn btn-success" ng-click="changeView( project,'estimator',0,0  )">Load</a>
                </td>
            </tr>
            </tbody>
            </tr>
        </table>

    </div>
    <div class="col-lg-2">
    </div>

</div>

<script>
</script>