<span style='color: #000'>71 frames</span>	<span style='color: #900'>5,888 KB</span>	<span style='color: #090'>2,426.14 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><pre class='xdebug-var-dump' dir='ltr'><small>float</small> <font color='#f57900'>24.812501786527</font>
</pre>